/* 
@media only screen and (min-width: 1200px) { */
    .section-1{
        height: fit-content;
        background-color: #041c32;
        display: flex;
        justify-content: space-evenly;
        flex-direction: row-reverse;
        /* flex-wrap: wrap; */
        
    }

  .section{
        
        width: 63rem;
        flex-wrap: wrap;
        
     } 
     .padding{
        color:  white;
        font-weight: 500;
        font-size: 22px;
        padding: 0 5rem;
        text-align: center;}
        
        .carousel-item{
            height: 25rem;
            
        }
        #carouselExampleCaptions{
            height: 25rem;
            width: 63.5rem;
        }
        .description{
            width:63rem;
            /* background-color: red; */
        }
 /* img{
           width: 100%;
           height: 100%; 
        } */
  .section-2{
    text-align: center;
    height: 32rem;
    background-color: #4a403a;
  }

  label {
    display: block;
    font: 1rem 'Fira Sans', sans-serif;
}

input,
label {
    margin: .4rem 0;
}
/* .form{
    display: flex;
    text-align: center
    ;
} */

