.section{
    background-color: #041c32;
    height: fit-content;
}
.form{
    justify-content: space-evenly;
}
h1 {
    text-align: center;
   
}
h3{
    text-align: center;
}
.image{
    height: 30rem;
    border-radius: 50%;
    
    
}
#head{
    color: #f7f7f7;
    font-weight: bold;
    font-size: 2rem;
}
.padding{
    color: #f7f7f7;
    font-weight: lighter;
    font-size: 22px;
    padding: 0 5rem;
    text-align: center;}

label {
    display: block;
    font: 2.5rem 'Fira Sans', sans-serif;
}

input,
label {
    margin: .4rem 0;
    padding: .5rem;
}
input>value{ margin: 2rem;}