.section{
    background-color: #041c32;
    height: 32rem;
}

h1{
    text-align: center;
}


label {
    display: block;
    font: 1rem 'Fira Sans', sans-serif;
}

input,
label {
    margin: .4rem 0;
}